h1.p1_title{
    color: #050505;
    text-align: center;
    height: 200px,0;
    
}


p.p1_description{
    color: #65676b;
    text-align: center;
    

}

h2.p1_list{
    color: #050505;
    text-align: center;
}

.btn {
    text-align: center;
    display: block;
}