@charset "UTF-8";
html {
	overflow-y: scroll;
}
/* リセットCSSの記述です。コピペしていただいて構いません。----- */

body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}
body {
	background: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
}




li {
	list-style: none;
}
a {
	outline: none;
	color: inherit;
	text-decoration: none;
}
img {
	border: 0px;
	vertical-align: bottom;
}

/* ボタン関係リセット */
.reset {
    color: black;
    text-decoration: none;
    font-family: sans-serif; /* 書体もリセットしています。不要であれば削除を */
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: normal;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* iOSタップ時の挙動を調整 */
}


/* --------------------------------------------------- */

/* フォントの指定です。コピペしていただいて構いません。 */
html{
	height: 100%;
}

body {
	height: 100%;
	font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", "YuGothic", "メイリオ", "Meiryo", "HGPｺﾞｼｯｸM", "Osaka", "ＭＳ Ｐゴシック", sans-serif, "Century Gothic", "Arial","M PLUS Rounded 1c";
}



.site-header {
	height: 60px;
	background: #F5F0E6;
	text-align: center;
	position: fixed;
	width: 100%;
    display: flex;

}

header img{ 
    height:50px;

}


.logo {
    margin: 5px,0px,0px,5px;
    padding-top: 5px;
}

.logoimage{
    padding-top: 10px;
}


.menu {
    margin:0 0 0 auto;
}

ul {
    display: flex;
    list-style: none;

    margin: 5px;
    padding: 5px;
}

li{
    margin:10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 600;
    color:#524436;
}


.container-all{
    background-color:#C1E1D2;
    width: 100%;
    height: auto !important;
    height: 100%;
    position: relative;/*←相対位置*/
    min-height: 100%;
}


.container{
    background-color:#C1E1D2;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #524436; 
    padding-bottom:80px; /*←footerの高さ*/
    height: 100%;
}



.container h1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #524436; 
}

.box-list{

    padding-top: 100px;
    margin: 0 auto;

}

.box-list h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* index.htmlのCSS */
.description{
    margin-top: 20px;
    width: 720px;
    margin: 0 auto;
    line-height: 160%;
}



.list h2 {
    margin-top: 20px;

}




/* 表のCSS */

.first-list{
    padding-bottom: 30px;
}

.first-list table{
    border-collapse: collapse;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto; 
}

.first-list tbody td,.first-list tbody th{

    background: #e6f3ed;

}

.first-list table tr:nth-child(even) td,.first-list table tr:nth-child(even) th {
	background: #C1E1D2;
}
    

.precious {
    font-size: small;
    width:70px;
}


.first-list table td {
    /*  
border-width: 0px 0px 1px 0px; 上下だけ引く
border-color:#707070;  
border-style: solid;   /* 線種：実線 */
margin-right: 10px;

}

.titles{
    font-weight: 500;
    height: 30px;
    width: 150px;
    text-align: left;
    padding-left: 10px;
}

.need{
    text-align: left;
    width: 400px;
}

.last{
    margin-right:20px;
}

.button-box{ margin-top: 30px;}

.button-box img{
    align-items: baseline;
    width:200px;
}

/* ボタンの装飾 */

.button-shadow {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color:#524436;
    text-align: center;
    box-sizing: border-box;
    display: block;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    background: #EF7B51; /* 色変更可能 */
    font-weight: bold;
    padding: 13px 10px 10px;
    border-radius: 30px;
    border-bottom: 5px solid rgba(0,0,0,0.3);
}
.button-shadow:hover {
    animation: 1s flash;
}
.button-shadow:active, .button-shadow:focus {
    border-bottom-width: 0;
    margin-top: 5px;
    background: #EF7B51; /* 色変更可能 */
}

@keyframes flash {
    from { opacity: 0.5; }
    to { opacity: 1; }
}


footer {
	height: 80px;
	background: #F5F0E6;
	width: 100%;
}

footer .copyright {
	color: #acacac;
	font-size: 12px;
	padding-top: 30px;
	letter-spacing: 1px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

h1.p1_title{
    color: #524436;
    text-align: center;
    height: 200px 0;
    
}


p.p1_description{
    color: #524436;
    text-align: center;
    

}

h2.p1_list{

    color: #524436;
    text-align: center;
}

.btn {
    text-align: center;
    display: block;
    
}

.img {
    text-align: center;
    width: 193px;
    height: 130px;
}

.flex_container{
    display: flex;
}
.p1_logo {
    height: 140px;
    padding: 20px;
}  






footer {
	height: 80px;
	background: #F5F0E6;
	width: 100%;
    position: fixed;
    bottom: 0;

} 

footer .copyright {
	color: #524436;
	font-size: 12px;
	padding-top: 30px;
	letter-spacing: 1px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}


.top-menu {
width: 150px;
height: 30px;
font-family: 'M PLUS Rounded 1c', sans-serif;
color: #524436;
border-radius: 20px;
background: #F5F0E6;
box-shadow:  2px 2px 5px #dad6cd;
             /* -2px -2px 5px #fffff0; */
padding: 3px 5px 5px;
}

.fixedmsg{
    background-color: #fff;
    position:fixed;
    top: 300px;
    left:200px;
}





.banner_text {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #524436;
    padding-top: 85px;
}

.top-banner{
	display: flex;
	padding-top: 50px;
}
.top-banner button {
	width: calc(100%/4);
	padding:0 5px;
	box-sizing:border-box;
}
.top-banner a img {
	max-width:100%; 
	height: auto; 
	
}

.banner_img{
    width: 70px;
    height: 50px;
}