<!-- 共通部ファイル -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<!-- CSSの参照 -->
<link rel="stylesheet" href="../static/css/style.css"  media="screen and (min-width:480px)">
<link rel="stylesheet" href="../static/css/style_sp.css" media="screen and (max-width:480px)">

<!--  jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../static/js/common.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

<!-- drawer.css → -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">

<!-- jquery & iScroll →-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<!-- drawer.js → -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

<!-- jQuery UI -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

<!-- googleフォント -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-all">
        <header class="site-header">
            <div class="logo">
                <img src="../static/img/name.png" alt="">
            </div>

            <div class="logo-image">
                <img src="../static/img/myvalueslogo_sp.png" alt="">
            </div>

            <div class="menu">

    <!-- スマホ用ハンバーガーメニューの記述（JSを使わないと動きません） -->
            <div class="hum_menu">
                <a href="javascript:void(0);">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <!-- ここまでハンバーガーメニュー -->

            
            <nav>
                <ul>
                    <li> <button type=“button” onclick="location.href='index'" class="reset top-menu">トップに戻る</button></li>
                    <li><button type=“button” onclick="location.href='page7'" class="reset top-menu">参考サイト</button></li>
                </ul>
            </nav>
            </div>
        </header>



    <!-- はめ込みのための記述 スペースの有無に注意しなさいな!? -->
    {% block content %}
    {% endblock %}
    <footer>
    <p class="copyright">Copyright &copy; TEAM STOP!ROADKILL all rights reserved.</p>
    </footer>
    </div>
</body>
</html>