<!-- ファイル個別情報 -->
{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="box-list">
        <h1>"じぶんにとって大切"を、<br class="br-sp">たしかめよう</h1>
        <h2>パーソナルバリューリストとは</h2>
        <div class="description">
            <p>
            たくさんある「価値観」の中から、<br class="br-sp">「自分が大切にしている価値観」<br class="br-sp">について知るためのものです。<br>
            パーソナルバリューリストを作る<br class="br-sp">ことで、自分がこれからどうしたいのか、<br>どう生きていきたいのかを<br class="br-sp">知ることができます。<br>
            自分とゆっくり向き合うことで、ぼんやりとした将来のイメージをはっきりとさせ、<br>将来の不安な気持ちをふきとばしましょう。<br>
            また、パーソナルバリューリストは<br class="br-sp">１度作って終わりではなく、<br>時間をおいて作り直してみると<br class="br-sp">自分の気持ちの変化に気づくことが<br class="br-sp">できるかもしれません。      
            </p>
            <div class="list">
                <h2>自分のパーソナル<br class="br-sp">バリューリストを...</h2>
            
                <div class ="button-box">
                    <form action="/page2" method="get">
                    <input type="submit" value="つくってみる！" class="reset button-shadow"></form>
                    <img src="../static/img/yattemiyo.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}
