<!-- ファイル個別情報 -->
{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="box-list">
        <h1>"じぶんにとって大切"を、たしかめよう</h1>
        <h2>パーソナルバリューリストとは</h2>
        <div class="description">
            <p>
            たくさんある「価値観」の中から、「自分が大切にしている価値観」について知るためのものです。<br>
            パーソナルバリューリストを作ることで、自分がこれからどうしたいのか、<br>どう生きていきたいのかを知ることができます。<br>
            自分とゆっくり向き合うことで、ぼんやりとした将来のイメージをはっきりとさせ、<br>将来の不安な気持ちをふきとばしましょう。<br>
            また、パーソナルバリューリストは１度作って終わりではなく、<br>時間をおいて作り直してみると自分の気持ちの変化に気づくことができるかもしれません。      
            </p>
            <div class="list">
                <h2>自分のパーソナルバリューリストを...</h2>
            
                <div class ="button-box">
                    <form action="/page2" method="get">
                    <input type="submit" value="つくってみる！" class="reset button-shadow"></form>
                    <img src="../static/img/yattemiyo.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}
