<!-- ファイル個別情報 -->
{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class ="box-list">
        <p>
            <h1>大事な度合いにしたがって◉を入れていこう</h1>
        </p>   
        
        <div class="first-list">
            <form action="">
                <table >
                    <tr>
                    <th></th><th></th><th></th><th class="precious">とても大事</th><th class="precious">大事</th><th class="precious">大事でない</th>
                    </tr>
                    <tr>
                        <td>1</td><td class="titles">受容</td><td class="need">ありのままの自分を受け容れること</td>
                        <td><input  id="input1" name="radio1" type="radio" /></td>
                        <td><input  id="input2" name="radio1" type="radio" /></td>
                        <td><input  id="input3" name="radio1" type="radio" /></td>
                    </tr>
                    <tr>
                    <td>2</td><td class="titles">達成</td><td class="need">重要な何かを成し遂げること</td>
                        <td><input  id="input1" name="radio2" type="radio" /></td>
                        <td><input  id="input2" name="radio2" type="radio" /></td>
                        <td><input  id="input3" name="radio2" type="radio" /></td>
                    </tr>
                </table>
                <div class ="button-box">
                    <input type="submit" value="絞り込む" class="reset button-shadow">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}