{% extends "base.html" %}
{% block content %}
<div id="msgarea" style="height:70px;"> 0 件選択中 </div>
<div class="box-list container-page2">
    <p>
        <h1 class="ranking">選んだ10個の価値観の中でランキングをつけてみよう！</h1>
    </p>   
    <div class="first-list">
        <form action="/page4" id="list100form" method="post">
            <table>
                <tr>
                    <th>順位</th><th>項目</th><th>説明</th>
                    <th></th>
                </tr>
                {% for item in value_list %}
                <tr class="value_container">
                    <td class="order"></td>
                    <td class="titles">{{item['value']}}</td>
                    <td class="need">{{item['explanation']}}</td>
                    <td>
                        <a href="#" class="rowup">▲上へ </a>
                        <a href="#" class="rowdown">　▼下へ</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div class ="button-box">
                <input type="button" value="リスト完成！" class="reset button-shadow ranking_decision">
            </div>
        </form>
    </div>
</div>
<script>
    $(".button-box").click(function() {
        $(".precious.reset button-shadow").hide();
        $(".ranking").text("あなたのパーソナルバリューリスト");
    })
</script>
{% endblock %}
