<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>page1</title>
</head>
<body>
    <h1 class="p1_title">パーソナルバリューリストとは</h1>
    <p class="p1_description">
        たくさんある「価値観」の中から、「自分が大切にしている価値観」について知るためのものです。<br>
        パーソナルバリューリストを作ることで、自分がこれからどうしたいのか、どう生きていきたいのかを知ることができます。<br>
        自分とゆっくり向き合うことで、ぼんやりとした将来のイメージをはっきりとさせ、将来の不安な気持ちをふきとばしましょう。<br>
        また、パーソナルバリューリストは１度作って終わりではなく、時間をおいて作り直してみると自分の気持ちの変化に気づくことができるかもしれません。
    </p> 
    <h2 class="p1_list">さんのパーソナルバリューリストを</h2>
    <div class="btn">
        <a href="">つくってみる</a>
    </div>
</body>
</html>