{% extends "base.html" %}
{% block content %}

    <h1 class="banner_text">参考リンク</h1>


    <div class="top-banner">
        <button type=“button” onclick="location.href='pareo'" class="reset"><img src="../static/img/myvalueslogo.png"  class="banner_img"><p>パレオな男</p></button>
        <button type=“button” onclick="location.href='neko'" class="reset"><img src="../static/img/myvalueslogo.png"  class="banner_img"><p>高徳ネコ先生の記事 </p><p>【毒親からの悪影響を治療する】</p></button>
        <button type=“button” onclick="location.href='health'" class="reset"><img src="../static/img/myvalueslogo.png"  class="banner_img"><p>healthsick</p></button>
        <button type=“button” onclick="location.href='mental'" class="reset"><img src="../static/img/myvalueslogo.png"  class="banner_img"><p>めんと～れ </p><p>森林浴とメンタルケアのブログ</p></button>
    
    </div>

    
    
    
    
{% endblock %}