<!-- ファイル個別情報 -->
{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class ="box-list">
        <p>
            <h1>大事な度合いにしたがって◉を入れていこう</h1>
        </p>   
        
        <div class="first-list">
            <form action="/page2" method="POST" id="list100form" enctype="multipart/form-data">

                <table>
                    <th></th><th></th><th></th><th class="precious">とても大事</th><th class="precious">大事</th><th class="precious">大事でない</th>
                    {% for item in komatta %}
                    <tr>
                    <td>{{item["id"]}}</td>
                    <td class="titles">{{item["task"]}}</td>
                    <td class="need">{{item["explanation"]}}</td>
                    <td><input  id="input1"  type="radio" name="r{{item['id']}}" value="2"/></td>
                    <td><input  id="input2"  type="radio" name="r{{item['id']}}" value="1"/></td>
                    <td><input  id="input3"  type="radio" name="r{{item['id']}}" value="0"/></td>
                    </tr>
                    {% endfor %}

                </table>

                <div class ="button-box">
                    <input type="submit" value="絞り込む" class="reset button-shadow" value="select100" name="select100">
                </div>
                <h1>{{ title }}</h1>
                <p>{{ message }}</p>
            </form>

        </div>
    </div>
</div>

{% endblock %}