{% extends "base.html" %}
{% block content %}


<body>
    <div class="container">
        <div class ="box-list">
            <p>
                <h1>{{name}}さんのパーソナルバリューリスト</h1>
            </p>   
            
            <div class="first-list">
                <form action="">
                    <table >
                       
                        <tr>
                            <td>1</td><td class="titles">受容</td><td class="need">ありのままの自分を受け容れること</td>
                        </tr>
                        <tr>
                            <td>2</td><td class="titles">達成</td><td class="need">重要な何かを成し遂げること</td>
                        </tr>
                        <tr>
                            <td>3</td><td class="titles"></td><td class="need"></td>
                        </tr>
                        <tr>
                            <td>4</td><td class="titles"></td><td class="need"></td>
                        </tr>
                        <tr>
                            <td>5</td><td class="titles"></td><td class="need"></td>
                        </tr>
                        <tr>
                            <td>6</td><td class="titles"></td><td class="need"></td>
                        </tr>
                        <tr>
                            <td>7</td><td class="titles"></td><td class="need"></td>
                        </tr>
                        <tr>
                            <td>8</td><td class="titles"></td><td class="need"></td>
                        </tr>
                        <tr>
                            <td>9</td><td class="titles"></td><td class="need"></td>
                        </tr>
                        <tr>
                            <td>10</td><td class="titles"></td><td class="need"></td>
                        </tr>
                    </table>
                    <div class ="button-box">
                        <input type="submit" value="10個に絞り込む" class="reset button-shadow">

                        
                    </div>
                    
                    <div><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="わたしのパーソナルバリューリスト" data-show-count="false">Tweet</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>





{% endblock %}